@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  margin-top: 0;
}

.mapContainer {
  width: 100%;
  height: 100vh;
}

.listContainer {
  max-height: 100vh;
  overflow-y: auto;
}

/* custom scrolling bar */

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8b1d1dc2;
  border-radius: 10px;
}

.allLocations {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding-top: 1rem;
}

.allLocations > p {
    font-size: calc(1rem - 6px);
}

.allLocations > img {
    width: 6rem;
}

/* .allLocations:hover {
    background-color: rgb(245, 245, 245);
} */

.listItemsText {
  padding: 0.5rem 0 0.5rem 0.7rem;
}

.listItemsText:hover {
  background-color: rgb(245, 245, 245);
}

.listItems {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.active {
  color: #8b1d1d;
}

.active > li {
  /* background-color: rgb(240, 240, 240); */
  border-left: 5px solid #8b1d1d;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #8b1d1d;
  border-top: 1px solid #8b1d1d;
  background-color: rgb(245, 245, 245);
}

.servicesContainer {
  display: flex; 
  flex-direction: column; 
  max-width: 30vw;
  max-height: 100vh;
  overflow-y: auto;
}

.marker {
  background-image: url('/mapbox-pin.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.checked-item {
  color:aqua;
  background-color: aqua;
}